<table class="table table-hover"e>
  <thead>
    <tr>
      <th></th>
      <th>average</th>
    </tr>
  </thead>

  <tbody>
  <% ratings.each do |rating| %>
    <tr>
      <td><%= rating.name %></td>
      <td><%= rating.average_rating.round(1) unless rating.ratings.empty? %></td>
    </tr>
  <% end %>
  </tbody>

</table>